{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}BeachBooker{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'core/css/styles.css' %}?v={{ APP_ASSET_VERSION }}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% if user.is_authenticated %}
    {% include "core/partials/nav_user.html" %}
  {% else %}
    {% include "core/partials/nav_guest.html" %}
  {% endif %}
  {% block content %}{% endblock %}
  {% include "core/partials/footer_full.html" %}
  {% block extra_js %}{% endblock %}
</body>
</html>
